{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>voteVotevote!</title>
    <link rel="stylesheet" type="text/css" href = "{% static 'polls/style.css' %}">
</head>
<body>

<style>
.header {
    position: fixed;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
</style>

<div class="header">
    <p> <b>Welcome to my website! </b></p>
</div>
<br>
<br>
<br>
<br>
<strong><a href = {% url "polls:index" %}><b><strong>Home Page</strong></b></a></li>
<hr>

{% block main_content %}

{% endblock %}

{% include 'polls/footer.html' %}

</body>
</html>